/* Styling */
.modal {
    background-color: rgb(153, 175, 215);
    display: none;
    /* other styles */
}
h1 {
    text-align: center;
    padding: 10px;
}
body {
    max-width: 2500px;
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    background-color: rgba(153, 175, 215, 0.551);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type=text] {
    border: 1px black;
    border-style: solid;
    border-radius: 4px;
    padding: 2px 2px;
}
input[type=text]:focus {
    background-color: rgb(227, 232, 240);
}
textarea {
    border-radius: 4px;
    margin-left: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
}
label[for="edit-title"] {
    margin-right: 20px;
}
label[for="edit-genre"] {
    margin-right: 6px;
}
label[for="edit-author"] {
    margin-right: 6px;
}
label[for="edit-ISBN"] {
    margin-right: 20px;
}
label[for="edit-imageURL"] {
    margin-right: 5px;
}
label[for="edit-pdfURL"] {
    margin-right: 26px;
}

label[for="title"] {
    margin-right: 18px;
}
label[for="genre"] {
    margin-right: 6px;
}
label[for="author"] {
    margin-right: 6px;
}
label[for="ISBN"] {
    margin-right: 20px;
}
label[for="imageURL"] {
    margin-right: 5px;
}
label[for="pdfURL"] {
    margin-right: 26px;
}
#editBookModal {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px;
    border-style: solid;
    border-width: 2px 2px;
    border-radius: 10px;
    border-color:rgb(35, 60, 103);
    box-shadow: 2px 2px 2px 2px black;
    width: 550px;
    float: right;
    position: relative;
}
#editBookModal label {
    margin-left: 25px;
}
#editBookModal h2 {
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 15px;
}
#editBookModal p {
    margin-left: 25px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}
#editBookModal button {
    margin-left: 25px;
    margin-bottom: 25px;
}
#editBookModal button:hover {
    box-shadow: 2px 2px 3px;
}

#addBookModal {
    margin-top: 30px;
    margin-bottom: 15px;
    border: 2px;
    border-style: solid; 
    border-width: 2px 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    border-color: rgb(35, 60, 103);
    width: 550px;
    position: relative;
}
#addBookModal label {
    margin-left: 25px;
}
#addBookModal h2 {
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 15px;
}
#addBookModal p {
    margin-left: 25px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}
#addBookModal button {
    margin-left: 25px;
    margin-bottom: 25px;
}
#addBookModal button:hover {
    box-shadow: 2px 2px 3px;
}
#searchContainer button:hover {
    box-shadow: 2px 2px 3px;
}
#searchContainer button {
    margin-top: 10px;
    margin-right: 20px;
    padding: 8px 5px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
}
#searchContainer input[type="text"] {
    width: 10%;
    padding: 8px 5px;
}
.header-bg {
    opacity: .45;
    position: absolute;
    width: 100%;
    height: 400px;
}
.header-text p {
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: white;
    opacity: 1;
    text-shadow: 2px 2px 3px #333;
}
.header-text h1 {
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    color: white;
    opacity: 1;
    font-size: 50px;
    text-shadow: 2px 2px 3px #333;
}
.header-text {
    position: relative;
}
.header-wrap {
    overflow: hidden;
    position: relative;
}
hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #4d6fbe, #333, #4d6fbe)
}
.book-list h3 {
    margin-bottom: 10px;
}
.book-list button {
    margin-right: 20px;
}
.book-list button:hover {
    box-shadow: 2px 2px 3px;
}
.book-list p {
    margin-top: 2px;
    margin-bottom: 10px;
}
.book-list {
    position: absolute;
    margin-bottom: 30px;
}
.close {
    font-size: large;
    margin-left: 25px;
}